{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "DefaultDb": "Host=localhost;Port=5432;Database=SeventyTwo.Sample;Username=postgres;Password=your_password"
    },
    "CapConfiguration": {
        "PostgreSqlConnectionString": "Host=localhost;Port=5432;Database=SeventyTwo.Sample;Username=postgres;Password=your_password",
        "RabbitMqHostName": "localhost",
        "RabbitMqUserName": "your_username",
        "RabbitMqPassword": "your_password",
        "RabbitMqVirtualHost": "your_virtual_host"
    },
    "CacheConfiguration": {
        "ConnectionString": "localhost:6379,password=your_password,abortConnect=false",
        "KeyNamespace": "SeventyTwo.InfraKit",
        "DefaultDb": 0
    },
    "SnowFlakeConfiguration": {
        "SeqBitLength": 6,
        "WorkerIdBitLength": 6,
        "BaseTime": "2000-01-01T00:00:00",
        "OccupyUpdateInterval": 300000,
        "OccupyExpireTime": 600000
    }
}